  @font-face {
    font-family: Podkova-regular;
    src: url('Podkova-Regular.ttf')
  }
  
  @font-face {
    font-family: Podkova-bold;
    src: url('Podkova-Bold.ttf')
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: Podkova-bold;
    color: #373a49;
  }
  
  p,
  button {
    font-family: Podkova-regular;
    color: #373a49;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.5em
  }
  
  button {
    font-size: .9em
  }
  
  body {
    margin: 0;
    overflow-y: scroll;
    background-color: #F8F7F7;
  }
  
  body::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  main {
    background-color: #F8F7F7;
  }
  
  #mainIntro {
    background-color: #F8F7F7;
    margin: 0;
    padding: 2em;
  }
  
  #intro {
    /* background-image: url(/docs/img/balloon.png); */
    background-position: top;
    background-color: #F8F7F7;
    /* height: 100vh; */
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1em;
    max-width: 40em;
    text-align: center;
    margin: 0em auto;
  }
  
  #intro h1,
  #intro p,
  #intro h2 {
    max-width: 25em;
    margin: 1em auto;
  }
  
  #intro button {
    background-color: #373A49;
    color: #ffffff;
    border-radius: 20px;
    padding: 1em;
    border: none;
  }
  
  #intro img {
    width: 60%;
    margin: 2em auto 0 auto;
    display: block;
  }
  
  #dialogue {
    max-width: 40em;
    margin: 0 auto auto auto;
    padding: 1em 2em 15em 2em;
    background-color: #ffffff;
    height: 75vh;
    overflow: scroll;
  }
  
  .heading {
    background-color: #373A49;
    border-radius: 20px;
    padding: 1em;
    color: #ffffff;
    width: 1em;
    margin: 0 -10em 0 auto;
    display: flex;
    border-radius: 20px 0 0 20px;
    margin: 0 -2em 0 auto;
    font-size: .8em;
    transition-duration: 1s;
    transition-timing-function: ease;
    white-space: nowrap;
  }
  
  .heading:nth-of-type(1) {
    margin: 70vh -2em 0 auto;
  }
  
  .heading span {
    opacity: 0;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  
  .heading:hover {
    width: 10em;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  
  .heading:hover span {
    opacity: 100;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  
  .chat {
    max-width: 20em;
    padding: 1em;
  }
  
  .vasilis {
    background-color: #F5C7B9;
    margin: 1em auto 0 0;
    border-radius: 20px 20px 20px 0;
  }
  
  .astrid {
    background-color: #DB7347;
    margin: 1em 0 0 auto;
    border-radius: 20px 20px 0px 20px;
    color: #ffffff;
  }
  
  #speakers {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #F8F7F7;
    padding: 1em;
    height: 25vh;
  }
  
  #speakers img {
    width: 10em;
    height: 10em;
  }
  
  #speakers h4 {
    text-align: center;
    margin: 0;
  }